<div id="content-area">

    <div id="goal-entry-area">
        <h2>Enter A Goal</h2>
        <input id="goal-input" type="text" placeholder="Type something...">
        
        <ul id="goal-list"></ul>

    </div>

    <div id="vision-board-area">

    </div>

</div>