<div id="content-area">

    <div id="goal-entry-area">
        <div id="goal-entry">
            <h2>Enter A Goal</h2>
            <input id="goal-input" type="text" placeholder="Type something...">
            <button id="btn-add-goal">Add</button>

            <ul id="goal-list"></ul>
        </div>

    </div>

    <div id="vision-board-area">

        <div id="vision-board"></div />

    </div>

</div>